@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

body{
    margin: 0;
    font-family: 'Montserrat';
    overflow-x: hidden;
}

/*CSS de imagen de contacto*/

#contact-us{
    height: 80%;
    text-align: center;
    color: black;
}

#myVideo {
    opacity: 0.8;
}

#titulo-contacto{
    padding-top: 15%;
}

#contenido-contacto{
    position: absolute;
    top: 33%;
    left: 39%;
}

#boton-mostrar{
    transition-duration: 2s;
    border-radius: 15px;
    width: 20%;
    height: 7%;
    border-style: solid;
    background-color: rgb(0,0,0,.9);
    color: white;
    border-color: rgb(0,0,0,.2);
}

/*CSS de envio de mensajes*/

#send-message{
    transition: 2ms;
    padding-top: 30px;
    text-align: center;
    background-color: white;
}

.oculto{
    display: none;
}

#enviar-mensaje{
    margin-bottom: 10px;
}

.input{
    border-radius: 15px;
    border-style: solid;
    height: 30px;
    padding-left: 10px;
    border-color: rgb(0,0,0);
}

.input-textarea{
    border-radius: 15px;
    border-style: solid;
    padding-left: 10px;
    padding-top: 10px;
    border-width: 2px;
    border-color: rgb(0,0,0);
}

.input-button{
    border-radius: 15px;
    width: 7%;
    height: 4%;
    border-style: solid;
    margin-top: 3%;
    background-color: rgb(0,0,0,.9);
    color: white;
    border-color: rgb(0,0,0);
}

.barra{
    color: rgb(0,0,0,.4);
}

/*CSS de email-phone-address*/

#address-email-phone{
    background-color: rgb(0,0,0,.9);
    color: white;
    height: 30%;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

#address-email-phone div{
    width: 33%;
}

#adress,#phone,#email{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.div-imagen{
    width: 30%;
    text-align: right;
    align-items: center;
}

.div-info{
    width: 70%;
}

.imagen{
    margin-right: 20px;
}

/*CSS de location*/

/*CSS de parte de abajo*/

#footer-like{
    background-color: rgb(0,0,0,.9);
    color: white;
    height: 40%;
    display: flex;
    flex-flow: row wrap;
}

#footer-like div{
	flex: 1;
	margin: 2px;
	padding: 10px;
}

#schedule-table{
    color: white;
}

#posts div{
    padding: 1px;
}

.div-de-post{
    height: 20%;
    display: flex;
    align-items: center;
}

.div-de-foto img{
    border-radius: 30%;
}

.div-de-foto{
    width: auto;
    height: 100%;
}

.div-de-contenido{
    max-height: fit-content;
}

.enlaces{
    border-radius: 50%;
    border-color: white;
    border-style: solid;
    border-width: 1px;
}

.enlaces:hover{
    border-color: #e7ac3f;
    transition:all .2s ease-in-out;
}

.day-td{
    width: 50%;
}

.schedule-td{
    text-align: right;
    padding-top: 9px;
}















