#contact-us{
    background-color: azure;
    height: 500px;
}

#send-message{
    background-color: aqua;
}

#address-email-phone{
    background-color: rgb(0,0,0,.9);
    color: white;
    height: 30%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

#address-email-phone div{
    width: 33%;
}

#adress,#phone,#email{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.div-imagen{
    width: 30%;
    text-align: right;
    align-items: center;
}

.div-info{
    width: 70%;
}

#footer-like{
    background-color: rgb(0,0,0,.9);
    color: white;
    height: 40%;
    display: flex;
    flex-flow: row wrap;
}

#schedule-table{
    color: white;
}

#footer-like div{
	flex: 1;
	margin: 2px;
	padding: 10px;
}

#posts div{
    padding: 1px;
}

.div-de-post{
    height: 20%;
    display: flex;
    align-items: center;
}

.div-de-foto img{
    border-radius: 30%;
}

.div-de-foto{
    width: auto;
    height: 100%;
}

.div-de-contenido{
    max-height: fit-content;
}

.enlaces{
    border-radius: 50%;
    border-color: white;
    border-style: solid;
    border-width: 1px;
}

.enlaces:hover{
    border-color: #e7ac3f;
    transition:all .2s ease-in-out;
}

.day-td{
    width: 50%;
}

.schedule-td{
    text-align: right;
    padding-top: 9px;
}

