@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);


  html{
    background-image: url(https://scontent-lis1-1.xx.fbcdn.net/v/t1.6435-9/114072896_104248284717292_1207265730903500921_n.jpg?_nc_cat=101&ccb=1-5&_nc_sid=6e5ad9&_nc_ohc=iFUnX7C9kv8AX_K7P90&_nc_ht=scontent-lis1-1.xx&oh=4d86664653b13a9f0ada1219f01eca37&oe=61A072CB);
    background-position: center; /* Center the image */
    background-size: cover;
  }
p{
  background: rgba(0, 0, 0, 0);
  color: black;

}
h1{
  font-family: "Montserrat";
  text-align: center;
  font-size: 40px;
  color: rgb(255, 255, 255);
  text-shadow: 4px 4px 20px rgb(241, 236, 236);

}
#formularioReserva{
  font-family: "Montserrat";
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    color: #000000;
    background: rgba(255,255,255,0.9);
    padding: 12px 25px;
    font-size: 18px;
    border-radius: 10px;
    max-height: 1080px;
    max-width: 720px;
    box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.4);
}

input{
    width: 100%;
    padding: 12px 20px;
    display: inline-block;
    border: 1px solid #ccc;
    background-color: #ffffff;
    border-radius: 4px;
    box-sizing: border-box;
  }

  

#btnReservar {
    color: #ffffff;
    background-color: #4a4d49;
    max-width: 120px;
    padding: 12px 25px;
    font-size: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    border: 0;
    border-radius: 2px;
    outline: 0;
    box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.4);
    transition: all .2s; }
    button:hover, button:active, button:focus {
      -ms-transform: scale(1.1);
          transform: scale(1.1); }
  
  