@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

body{
    background: black;
}
.menuPrincipal{
    display: block;
    float: right;
    margin: 25px;
}
.logoCabecera .logo{
    width: 200px;
    height: 100px;
    margin: 30px;
    margin-left: 100px;
}
.logoCabecera{
    transition: 500ms ease-out;
    position: fixed;
    width: 100%;
}
.logoCabecera:hover{
    background: rgb(0, 0, 0, .8);
    box-shadow: 0 0 100px 65px rgb(0, 0, 0, .8);
}
.menuPrincipal ul {
    list-style:none;
    background: none;
    margin-right: 50px;
    display: block;
}
.menuPrincipal ul a {
    color:rgb(255, 255, 255);
    background: none;
    text-decoration:none;
    font-weight:400;
    font-size:20px;
    padding:10px;
    font-family: "Montserrat";
	text-transform: uppercase;
    font-weight: bolder;
    letter-spacing:2px;
    float: right;
    margin: 15px;
    border: none;
    transition: 0.3s;
    width: 200px;
    text-align: center;
}


.menuPrincipal ul li {
    position:block;
    float:right;
}

.menuPrincipal ul li a:hover {
    color:#e7ac3f;
    font-size: 20px;
    margin-top: 10px;
    filter: saturate(2);
    cursor: url("img/cursor.png"), auto;
}

.paginaPrincipal {
    margin-left: -10px;
    margin-top: -10px;
    width:100.96%;
    height: 900px;
    background-image: url("img/fondo.png");
    background-color: transparent;
    background-size: cover;
}

.footer{
    background: rgb(0, 0, 0);
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row-reverse;
}
.footer p{
    color: rgb(255,255,255);
    text-align: center;
    font-family: "Montserrat";
    font-weight: bolder;
    margin-top: 45px;
    margin-right: 500px;
}
.twitter{
    width: 50px;
    height: 50px;
    margin-left: 20px;
    margin-top: 30px;
    margin-right: 100px;
}

.instagram{
    width: 50px;
    height: 50px;
    margin-left: 80px;
    margin-top: 30px;
}