@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

html{
    scroll-behavior: smooth;
}
.videos{ 
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    background-color: rgb(0, 0, 0);
}
.video{
    width: 80%;
    padding:2em;
    padding-top: 2em;
    padding-bottom: 2em;
    border-radius: 3em;
}
body{
    margin: 0px;
    padding: 0px;
    background-color: rgb(0, 0, 0);
}
.hiddenFlow{
    overflow: hidden;
}
#loaderContenedor.hidden{
    display: none;
}
#loaderContenedor{
    background-color: rgb(0,0,0);
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#loaderContenedor .logoLoader{
    width:  15%;
    height: 20%;
}
#loaderContenedor .loaderIcono{
    width:  20%;
    height: 25%;
}
iframe{
    width:100%;
    height: 100%;
}

.paginaPrincipal {
    width:100%;
    max-width: 100%;
    height: 100vh;
    background-image: url("img/fondo2.jpg");
    background-color: transparent;
    background-size: cover;  
    background-position: center center;
}

.Cabecera .logo{
    width: 12%;
    height: 80%;
    margin-left: 5%;
}

.Cabecera{
    transition: 500ms ease-out;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5%;
    flex-wrap: wrap;
    background: rgb(0, 0, 0, .7);
    box-shadow: 0 0 10px 20px rgb(0, 0, 0, .7);
    z-index: 1;
}
.menuPrincipal{
    margin: auto;
    width: 50%;
}
.menuPrincipal ul{
    margin: 0px;
    padding: 0px;
    list-style: none;
}
.menuPrincipal ul li{
    display: inline-block;
}
.menuPrincipal ul li a{
    display: block;
    padding: 10px 20px;
    color:rgb(255, 255, 255);
    text-decoration:none;
    font-size:18px;
    font-family: "Montserrat";
    text-transform: uppercase;
    font-weight: bolder;
    float: right;
    transition: 0.3s;
}
.menuPrincipal ul li a:hover {
    color:#e7ac3f;
    filter: saturate(2);
    cursor: url("img/cursor.png"), auto;
}

.footer{
    background: rgb(0, 0, 0);
    width: 100%;
    height: 30%;
    align-items: center;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 3% 0;
}

.icono{
    display: none;
}
.footer p{
    color: rgb(255,255,255);
    font-family: "Montserrat";
    font-weight: bolder;
    text-align: center;
    margin: 0px;
}
.footer img{
    width: 9%;
    height: 30%;
    opacity: 0.6;
    margin-bottom: 1%;
}
.formularioReserva{
    height: 100vh;
}
#frameFormulario{
    border: none;
    background-size: cover;
    background-position: center;
}
.carta{
    height: 50em;
}
#galeria{
    height: 60em;
}


#frameCarta{
    margin-left: auto;
    margin-right: auto;
    border: none;
    background-size: cover;
    background-position: center;
}

#frameAboutUs{
    margin-left: auto;
    margin-right: auto;
    border: none;
    background-size: cover;
    background-position: center;
}

#AboutUs{
    height: 140em;
}

@media screen and (min-width: 768px) and (max-width: 1289px){
    .carta{
        height: 200vh;
     }
}
@media screen and (min-width: 768px) and (max-width: 1480px){
    .formularioReserva{
        height: 120vh;
    }
   
}

@media screen and (min-width: 768px) and (max-width: 1030px){
    #galeria{
        height: 120em;
    }
   
}

@media screen and (min-width: 200px) and (max-width: 699px){
    .AboutUs{
        height: 500em;
     }
}

@media screen and (max-width: 768px){
    .videos{ 
        display: grid;
        grid-template-columns:1fr;
        grid-gap: 10px;
        background-color: rgb(0, 0, 0);
    }
    .video{
        width: 82%;
        padding:2em;
        padding-top: 2em;
        padding-bottom: 2em;
        border-radius: 3em;
    }
    .carta{
        height: 250vh;
     }
     .formularioReserva{
        height: 140vh;
    }
    #galeria{
        height: 90em;
    }


    #loaderContenedor .loaderIcono{
        width:  30%;
        height: 15%;
    }
    #loaderContenedor .logoLoader{
        width: 30%;
        height: 15%;
        padding: 2%;
        margin-right: 0.7%;
    }
    .icono{
        display: block;
        margin-right: 8%;
        width: 15%;
        height: 60%;
        padding: 0;
    }
    .Cabecera .logo{
        width: 40%;
        height: 100%;
        margin-top:2%;
        margin-left: 5%;
    }
    .menuPrincipal{
        width: 100%;
        margin-top: 2%;
        right: 0;
        word-wrap: break-word;
    }
    .menuPrincipal ul{
        display: none;
    }
    .menuPrincipal ul.show{
        display: block;
    }
    .menuPrincipal ul li{
        display: grid;
        grid-template-columns: 1fr;
    }
    .menuPrincipal ul li a{
        display: block;
        padding: 10px 20px;
        color:rgb(255, 255, 255);
        text-decoration:none;
        font-size:18px;
        font-family: "Montserrat";
        text-transform: uppercase;
        font-weight: bolder;
        transition: 0.3s;
    }
    .menuPrincipal ul li a:hover {
        color:#e7ac3f;
        font-size: 18px;
        filter: saturate(2);
        cursor: url("img/cursor.png"), auto;
    }
    .footer p{
        font-size: 6px;
    }
    .paginaPrincipal {
        height: 100vh;
    }
}
