@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);


  div{
    background-image: url(img/fondoformulario.jpg);
    background-size: cover;
    margin: -8px;
    padding: 100px;
      
  }
p{
  background: rgba(0, 0, 0, 0);
  color: black;


}
h1{
  font-family: "Montserrat";
  text-align: center;
  font-size: 40px;
  color: rgb(255, 255, 255);
  text-shadow: 4px 4px 20px rgb(241, 236, 236);

}
#formularioReserva{
  font-family: "Montserrat";
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    color: #000000;
    background: rgba(255,255,255,0.9);
    padding: 12px 25px;
    font-size: 20px;
    border-radius: 10px;
    max-height: 1080px;
    max-width: 720px;
    box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.4);
}

input{
    width: 100%;
    padding: 12px 20px;
    display: inline-block;
    border: 1px solid #ccc;
    background-color: #ffffff;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 20px;

  }

  

#btnReservar {
    color: #ffffff;
    background-color: #4a4d49;
    max-width: 140px;
    padding: 12px 25px;
    font-size: 17px;
    letter-spacing: 1px;
    text-transform: uppercase;
    border: 0;
    border-radius: 2px;
    outline: 0;
    box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.4);
    transition: all .2s; 
    margin: auto;  
  }
    button:hover, button:active, button:focus {
      -ms-transform: scale(1.1);
          transform: scale(1.1); 
        
  }
  
  @media screen and (max-width: 767px){

    #formularioReserva{
      font-family: "Montserrat";
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        color: #000000;
        background: rgba(255,255,255,0.8);
        padding-bottom: -1080px;
        font-size: 20px;
        border-radius: 10px;
        max-height: 1080px;
        max-width: 720px;
        box-shadow: 0px -30px 0px 80px rgba(255,255,255,0.8);
        
    }
    input{
      width: 200%;
      margin-left: -50%;
      display: inline-block;
      border: 1px solid #ccc;
      background-color: #ffffff;
      border-radius: 4px;
      box-sizing: border-box;
      font-size: 20px;
    }
    input,p{
      text-align: center;
      font-size: 19px;
      font-weight: bolder;
    }
    h1{
      font-family: "Montserrat";
      text-align: center;
      font-size: 40px;
      color: rgb(95, 95, 95);
      text-shadow: 4px 4px 20px rgba(0, 0, 4, 0.315);
      margin-left: -7%;
    }
}
  
  
